 .banner-carousel .swiper-slide:not(.swiper-slide-active) {
   opacity: 0 !important;
 }
 .banner-carousel .bls__banner-inner .hover-effect {
  display: block;
}
 .banner-carousel .bls__banner-content {
   width: fit-content;
 }
 .banner-carousel .bls__banner-item {
  background: var(--bg-content-text);
 }
 .product-images-style-radius .banner-carousel .bls__banner-item {
  border-radius: var(--base-border-radius);
  overflow: hidden;
  position: relative;
 }
 @media (min-width: 768px) {
   .banner-carousel .bls__banner-media {
     width: var(--banner-width);
   }
   .banner-carousel .bls__banner-content-wrapper {
    width: calc(100% - var(--banner-width));
  }
  .banner-carousel .swiper-button-next {
    left: calc(var(--banner-width) - var(--bs-gutter-x) - var(--swiper-next-position) - 1.5rem); 
    right: auto;
   }
   .body-rtl .banner-carousel .swiper-button-next {
    right: calc(var(--banner-width) - var(--bs-gutter-x) - var(--swiper-next-position) - 1.5rem); 
    left: auto;
   }
   .banner-carousel .swiper-actions.show-on-mobile {
    display: none;
  }
  .banner-carousel .swiper-pagination {
    position: absolute !important;
    margin-top: 0 !important;
    width: calc(var(--banner-width) - calc(var(--bs-gutter-x) * 0.5) + .5rem); 
    left: 0;
    right: 0;
  }
 }
 @media (max-width: 767px) {
  .padding-bg {
    padding: 0 2rem;
  }
  .banner-carousel .swiper-actions.show-on-desktop,
  .banner-carousel .swiper-pagination.show-on-desktop {
      display: none; 
  }
  .banner-carousel .swiper-arrow {
    position: static;
    
    transform: none;
  }
  .swipper-custom-banner-carousel {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 6rem;
    left: 0;
    right: 0;
  }
  .banner-carousel .bls__banner-content-wrapper.show-on-mobile {
    padding-bottom: 8rem;
  }
  .banner-carousel .bls__banner-content {
    width: 100%;
  }
}
 .banner-carousel .bls__banner-content {
  opacity: 0;
  visibility: hidden;
}

.banner-carousel .swiper-slide-active .bls__banner-content {
  opacity: 1;
  visibility: visible;
}

.banner-carousel .swiper-slide-active .bls__banner-content>* {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.banner-carousel .swiper-slide-active .bls__banner-content>*:nth-child(1) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;

}

.banner-carousel .swiper-slide-active .bls__banner-content>*:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 0.8s;

}

.banner-carousel .swiper-slide-active .bls__banner-content>*:nth-child(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;

}

.banner-carousel .swiper-slide-active .bls__banner-content>*:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;

}

.banner-carousel .swiper-slide-active .animation-effect_zoomin>* {
  -webkit-animation-name: zoomInSlideshow;
  animation-name: zoomInSlideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_zoomout>* {
  -webkit-animation-name: zoomOutSlideshow;
  animation-name: zoomOutSlideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_fadein>* {
  -webkit-animation-name: fadeInslideshow;
  animation-name: fadeInslideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_fadeindown>* {
  -webkit-animation-name: fadeInDownslideshow;
  animation-name: fadeInDownslideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_fadeinup>* {
  -webkit-animation-name: fadeInUpslideshow;
  animation-name: fadeInUpslideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_fadeinleft>* {
  -webkit-animation-name: fadeInLeftslideshow;
  animation-name: fadeInLeftslideshow;
}

.banner-carousel .swiper-slide-active .animation-effect_fadeinright>* {
  -webkit-animation-name: fadeInRightslideshow;
  animation-name: fadeInRightslideshow;
}
