.collection-item {
    --collection-title-color: var(--color-link);
    --collection-count-color: var(--base-color);
}

.bls__collection-title {
    font-size: var(--collection-title-size);
    font-weight: var(--collection-title-weight, var(--heading-font-weight));
    color: var(--collection-title-color);
    margin-bottom: var(--collection-title-spacing);
}

.bls__collection-title a {
    color: var(--collection-title-color);
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.bls__collection-count {
    font-size: var(--collection-count-size);
    font-weight: var(--collection-count-weight);
    color: var(--collection-count-color);
}

.link__collection-count::before,
.bls__collection-count::before {
    content: "(";
}

.link__collection-count::after,
.bls__collection-count::after {
    content: ")";
}

.collection-infinite-scroll .button {
    cursor: pointer;
}

.design-2.bls__collection-content .bls__collection-image,
.design-3.bls__collection-content .bls__collection-image {
    max-width: var(--image-width);
}

.bls__collection-content .bls__collection-image {
    overflow: hidden;
    margin: auto;
}

.bls__collection-content.rounded .bls__collection-image {
    border-radius: 50%;
    will-change: transform;
}

.bls__collection-packery-content.radius .collection-item-link,
.bls__collection-content.radius .bls__collection-image {
    border-radius: var(--base-border-radius);
    will-change: transform;
}

.bls__collection-packery-content.radius .collection-item-link {
    display: block;
}

/* Design 1 and collection list */
.design-1 .bls__collection-infor.show-count,
.design-4 .bls__collection-infor.show-count,
.collection-list__item .bls__collection-infor.show-count {
    position: absolute;
    inset: auto 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5rem 1rem;
    border-radius: var(--btn-border-radius);
    text-align: center;
    z-index: 2;
}

.design-1 .collection-item:hover .bls__collection-infor.show-count,
.design-4 .collection-item:hover .bls__collection-infor.show-count,
.collection-list__item .collection-item:hover .bls__collection-infor.show-count {
    background-color: var(--color-white);
}

.hide_count .bls__collection-count {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -3px;
    transition: var(--bls-transition);
}

.collection-item .design__1_infor {
    transition: var(--bls-transition);
    overflow: hidden;
}

.bls__collection-packery .bls__collection-infor:not(.show-count) .bls__collection-title,
.design-4 .bls__collection-infor:not(.show-count) .bls__collection-title {
    width: 100%;
}

.collection-item:hover .design__1_infor.show-count {
    padding-bottom: 3rem;
}

.collection-item:hover .bls__collection-count {
    opacity: 1;
    visibility: visible;

}

.design-5 .bls__collection-infor {
    position: absolute;
    inset: auto 3rem 3rem 3rem;
    z-index: 2;
}

.design-5 .bls__collection-infor .bls__collection-title {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--border-color-base);
    text-transform: uppercase;
}

.design-5 .bls__collection-infor .bls__collection-link {
    font-size: var(--base-font-size);
    padding-top: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

.design-5 .bls__collection-title a:hover {
    color: var(--color-link-hover);
}

@media (max-width: 767px) {
    .design-5 .bls__collection-infor {
        inset: auto 2rem 2rem 2rem;
    }

    .design-5 .bls__collection-infor .bls__collection-link {
        font-size: 12px;
    }
}
.template-collection #MainContent .design-1 .bls__collection-infor:not(.show-count),
.template-collection #MainContent .design-4 .bls__collection-infor:not(.show-count),
.template-collection #MainContent .collection-list__item .bls__collection-infor:not(.show-count) {
    inset: auto 0 1.5rem;
    margin: 0 1.5rem;
}

@media (max-width: 575px) {
    .design-5 .bls__collection-infor {
        inset: auto 1.5rem 1.5rem 1.5rem;
    }
}

/* design 4 collection */
.design-4 .bls__collection-infor .bls__collection-count span {
    display: none;
}

.design-4 .bls__collection-infor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Design 2 */
.design-6 .bls__collection-count::before,
.design-6 .bls__collection-count::after,
.design-2 .bls__collection-count::before,
.design-2 .bls__collection-count::after {
    display: none;
}

.design-2 .bls__collection-title {
    margin-bottom: 3px;
}

/* Design 3 */
.design-6 .bls__collection-count,
.design-3 .bls__collection-count {
    padding-left: 3px;
    position: relative;
    top: -6px;
}

.design-3 .bls__collection-count::before,
.design-3 .bls__collection-count::after,
.design-3 .bls__collection-count span,
.design-6 .bls__collection-count span {
    display: none;
}

.design-3 .bls__collection-infor {
    justify-content: center;
}

/* Design 6 */
.design-6 .bls__collection-infor {
    inset: auto 3rem 2rem;
    z-index: 2;
}

.design-6 .bls__collection-image::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(4, 4, 4, .46) 0, rgba(54, 54, 54, .2) 40%, transparent 100%);
    z-index: 2; 
}

.design-6 .line_bottom {
    display: inline-block;
    line-height: 1.5;
}

.design-2.custom-width-images .bls__collection-grid .bls__collection-item,
.design-3.custom-width-images .bls__collection-grid .bls__collection-item {
    width: var(--image-width);
}

@media (max-width: 475px) {
    .design-4 .bls__collection-infor.show-count {
        inset: auto 2rem 2rem 2rem;
    }
}